<turbo-stream action="replace" target="working_content">
  <template>
    <div style="position: absolute; left: 0; right: 0; top:0; bottom: 0; background-color: #FF0000;"></div>
  </template>
</turbo-stream>