  default: &default
    adapter: postgresql
    url: <%=ENV['DATABASE_URL']%>
    pool: <%=ENV.fetch("RAILS_MAX_THREADS")%>

  development:
    <<: *default

  test:
    <<: *default

  production:
    <<: *default