<div class="sign-box">
  <h2>Secure Sign In</h2>
  <form method="post" action="/user/authenticate">
    <label>
      <input type="text" name="username" placeholder="Username" class="sign-text"/>
      <input type="password" name="password" placeholder="Password" class="sign-text"/>
      <input type="submit" value="Login"/>
    </label>
  </form>
  <a href="/user/sign-up" class="sign-link">Sign Up</a>
</div>