:root {
    --brand-color: #7d0079;
    --dark-color: #1f1f1f;
    --error-color: #e21e26;
}

body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: #e5ebf3;
    font-family: sans-serif;
}

h2 {
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: normal;
}

h5 {
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    min-height: 15px;
}

a {
    color: var(--brand-color);
}

input {
    width: 120px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #464646;
    border: 1px solid var(--brand-color);
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
}

input[type=submit] {
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid var(--brand-color);
}

input[type=submit]:hover {
    box-shadow: 0 1px 2px 0 #b8b4b4;
}

input[type=checkbox] {
    width: 25px;
    accent-color: var(--brand-color);
}