.sidebar {
    position: absolute;
    left: 0;
    width: 80px;
    top: 0;
    bottom: 0;
    background-color: var(--brand-color);
}

.header {
    position: absolute;
    left: 80px;
    right: 0;
    top: 0;
    height: 40px;
    background-color: #f1f5fa;
    box-shadow: 0 1px 4px 0 #b8b4b4;
}

.working {
    position: absolute;
    left: 85px;
    right: 5px;
    top: 45px;
    bottom: 0;
}

.side-button {
    position: relative;
    display: block;
    width: 80px;
    padding-top: 62px;
    padding-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.side-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.side-button-selected {
    color: #ffc4fd;
}

.side-button-dashboard {
    background-image: url(/dashboard.svg);
}

.side-button-detection {
    background-image: url(/detection.svg);
}

.side-button-balancing {
    background-image: url(/balancing.svg);
}

.side-button-expense {
    background-image: url(/expense.svg);
}

.side-button-category {
    background-image: url(/category.svg);
}

.header-button {
    position: relative;
    display: block;
    width: 70px;
    height: 27px;
    padding-top: 13px;
    padding-left: 32px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 9px;
    color: var(--dark-color);
    font-size: 13px;
    text-decoration: none;
}

.header-button:hover {
    background-color: #d5dae3;
}

.header-button-user {
    background-image: url(/user.svg);
    float: left;
}

.header-button-me {
    background-image: url(/me.svg);
    float: left;
}

.header-button-logout {
    background-image: url(/logout.svg);
    float: right;
}