.sidebar {
    position: absolute;
    left: 0;
    width: 80px;
    top: 0;
    bottom: 0;
    background-color: var(--brand-color);
}

.header {
    position: absolute;
    left: 80px;
    right: 0;
    top: 0;
    height: 40px;
    background-color: #f1f5fa;
    box-shadow: 0 1px 4px 0 #b8b4b4;
}

.working-content {
    position: absolute;
    left: 85px;
    right: 5px;
    top: 45px;
    bottom: 0;
}

.square-button {
    position: relative;
    display: block;
    width: 80px;
    padding-top: 62px;
    padding-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.square-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.square-button-selected {
    color: #ffc4fd;
}

.square-button-dashboard {
    background-image: url(/dashboard.svg);
}

.square-button-detection {
    background-image: url(/detection.svg);
}

.square-button-balancing {
    background-image: url(/balancing.svg);
}

.square-button-expense {
    background-image: url(/expense.svg);
}

.square-button-category {
    background-image: url(/category.svg);
}